<footer>
<div class="footer navbar-fixed-bottom page-wrap-footer font-small blue pt-6 text-center navbar-fixed-bottom " >  

<footer class="footer navbar-fixed-bottom page-wrap-footer font-small blue pt-6 text-center fixed" >
 
 
  <div class="row footer-bottom mt-5 pt-5 ml-3 has text-warning">
  	<a class="has text-primary" href="/trades/terms_and_conditions">-Terms and conditions</a>/
  	<a class="has text-primary" href="/trades/privacy_policy">-Privacy Policy</a>
    </br>

    <p class="mr-md-auto">
            <%= social_share_button_tag(@trade, 'data-twitter-title' => 'Title for Twitter') %>
    </p>

  	<p class="ml-md-auto"> 
    Copyright &copy; 2020 Notify.rw | Designed by Mahirwe Yves </p>

    
    <p class="ml-md-auto">
            <%= social_share_button_tag(@trade, 'data-twitter-title' => 'Title for Twitter') %>
    </p>
  </div>
  
</div>

</footer>