<footer>
<div class="footer navbar-fixed-bottom page-wrap-footer font-small blue pt-6 text-center navbar-fixed-bottom" >

  <div id="push"></div>
<footer class="footer navbar-fixed-bottom page-wrap-footer font-small blue pt-6 text-center fixed" >


   
  <div class="footer-bottom mb-5 has text-warning">
    Copyright &copy; 2020 tiipoff.com   |  Designed by Yves Mahirwe 
  </div>
</div>

</footer>